@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --background-color: #fff1e5; */
  --background-color: #e7f1f9;
  --primary-color: #000000;
  --secondary-color: #02157f;
  --accent-color: #fff1e5;
  --links-color: #012a65;
  --span-color: #046bfc;
  --brown-color: #41392d;
  --white-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

/* i:hover {
  opacity: 0.7;
} */

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: var(--white-color);
}
.link__hover-effect--color:after {
  background-color: var(--secondary-color);
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 0 12px;
}

@keyframes slideUnderline {
  0% {
    width: 0;
    left: 0;
  }
  45% {
    width: 100%;
    left: 0;
  }
  75%,
  100% {
    width: 0;
    left: 100%;
  }
}

.text--underline {
  color: var(--secondary-color);
  position: relative;
  display: inline-block;
}

.text--underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px; /* Thickness of the underline */
  width: 0;
  background-color: var(--secondary-color); /* Color of the underline */
  animation: slideUnderline 1.5s infinite ease;
}

section {
  /* background-color: var(--white-color); */
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(odd) {
  background-color: var(--white-color);
  /* background-color: var(--background-color); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  padding-top: 50px;
  margin-bottom: 20px;
  animation: fade-up 650ms 2.3s backwards;
}

.favicon {
  border-radius: 50%;
}

/* Navigation Bar */

nav {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  /* background-color: var(--white-color); */
  z-index: 1;
}

/* .logoAndText {
  display: flex;
} */

.nav__components {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.nav__img {
  width: 100%;
  max-width: 70px;
  margin-top: 0px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 100ms ease;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0px 36px;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.nav__link--anchor:hover {
  color: var(--secondary-color);
}

.social__link--list {
  position: relative;
  display: flex;
  /* right: -1vw; */
}

.social__link--anchor {
  margin: 0px 8px;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.social__link--anchor:hover {
  color: var(--secondary-color);
}

/* ABOUT ME */

#about-me {
  min-height: 50vh;
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me__info--container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 1100px;
}

.about-me__picture--mask {
  width: 250px;
  animation: pfp-animate 0.9s ease;
}

.about-me__picture {
  width: 100%;
}

@keyframes pfp-animate {
  0% {
    transform: translateX(calc(100vw / 3)) translateY(calc(20vh)) scale(4);
  }
  15% {
    transform: translateX(calc(100vw / 3)) translateY(calc(20vh)) scale(4);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.about-me__info--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-in 650ms 1.25s backwards ease-in-out;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 16px;
  animation: fade-in 650ms 1.5s backwards ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
  animation: fade-up 1200ms 1.8s backwards ease-in-out;
}

.highlights {
  display: flex;
}

.aws-certification__img {
  position: relative;
  height: 105px;
  width: 105px;
  left: 20px;
  transform: rotate(-10deg);
  transition: all 300ms ease;
  animation: fade-in-left_a 650ms 2s backwards ease-in-out;
}

.azure-certification__img {
  height: 105px;
  width: 105px;
  transform: rotate(10deg);
  transition: all 300ms ease;
  animation: fade-in-left_b 650ms 2s backwards ease-in-out;
}

@keyframes fade-in-left_a {
  0% {
    opacity: 0;
    transform: translateX(40px) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(-10);
  }
}

@keyframes fade-in-left_b {
  0% {
    opacity: 0;
    transform: translateX(40px) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(10);
  }
}

/* .about-me__graphic--container {
  position: relative;
  right: -125px;
}

.about-me__img2 {
  height: 250px;
} */

.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* TECH - STACK */

#languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languages__container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  /* padding: 20px 20px; */
  animation: fade-up 650ms 2.6s backwards ease-in-out;
}

.language__img {
  height: 100px;
  width: 100px;
  transition: all 300ms ease;
}

.language:hover .language__img {
  opacity: 0.8;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* PROJECTS */

#projects {
  flex-direction: column;
  flex-wrap: wrap;
}

.project__list {
  padding-top: 40px;
  /* flex-wrap: wrap; */
}

.project {
  max-width: 600px;
  /* max-height: 500px; */
  /* width: 100%; */
  margin-bottom: 100px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  animation: fade-up 650ms 2.6s backwards;
}

/* .project:last-child {
  margin-bottom: 40px;
} */

.project__img {
  width: 100%;
  /* height: 100%; */
  height: 350px;
  transform: scale(0.9);
  /* overflow: hidden; */
  transition: all 500ms ease;
}

.airplaneControls__img {
  /* height: 100%; */
  /* margin-top: -0px; */
  transform: scale(0.9);
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
}

.project__img--wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.portfolio__phone {
  border-radius: 8px;
  transform: translateX(-3%) scale(0.8);
}

.portfolio__web {
  border-radius: 8px;
  transform: translateX(-10%) scale(0.8);
}

.project__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(0.97);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  /* left: 90px; */
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--titleCS {
  font-size: 60px;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
  text-align: justify;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title,
.project__description--titleCS,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  margin: 0 20px;
  color: white;
}

/* FOOTER */

footer {
  background-color: var(--primary-color);
}

.footer__social--list {
  width: 100%;
  max-width: 300px;
}

.footer__row {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social--link {
  padding: 0 5px;
}

.footer__copyright {
  text-align: right;
}

.footer__social--link,
.footer__copyright {
  color: white;
  font-size: 18px;
}

/* RESUME */

#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume__container {
  height: 1000px;
  background-color: #fff;
}

@media (max-width: 1100px) {
  .nav__link--anchor {
    top: 7px;
    margin: 0 20px;
    font-size: 20px;
  }

  .nav__img {
    max-width: 55px;
    /* top: -10px; */
  }

  .about-me__picture--mask {
    width: 250px;
    animation: pfp-animate 1.25s ease;
  }
  @keyframes pfp-animate {
    0% {
      transform: translateX(calc(100vw / 2.5)) scale(2);
    }
    15% {
      transform: translateX(calc(100vw / 2.5)) scale(2);
    }
    100% {
      transform: translateX(0) scale(1);
    }
  }
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  .nav__link--anchor-primary {
    padding: 8px 10px;
  }

  h1 {
    font-size: 28px;
  }

  .personal__logo {
    font-size: 18px;
    position: relative;
    margin-top: 10px;
  }

  .about-me__info--para {
    font-size: 16px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--titleCS {
    font-size: 50px;
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 20px;
    padding-right: 30px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  nav {
    height: 68px;
    padding: 0 6px;
    /* font-size: 12px; */
  }

  .nav__link {
    display: none;
  }

  .about-me__info--content {
    justify-content: center;
    align-items: center;
  }

  .about-me__info--para {
    font-size: 16px;
    text-align: center;
  }

  .about-me__info--container {
    flex-direction: column;
  }
  
  .about-me__picture--mask {
    max-width: 175px;
    animation: pfp-animate 0s;
  }

  @keyframes pfp-animate {
    0% {
      transform: scale(2.25);
    }
    15% {
      transform: scale(2.25);
    }
    100% {
      transform: scale(1);
    }
  }

  /* .aws-certification__img {
    transform: scale(0.8);
  }
  
  .azure-certification__img {
    transform: scale(0.8);
  } */

  .language {
    width: calc(100% / 2);
  }

  .project__img {
    width: 100%;
    height: 30vh;
    /* height: 225.23px; */
  }

  .project__wrapper {
    border-radius: 20px;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .portfolio__phone {
    border-radius: 8px;
    transform: translateX(-6%) scale(0.7);
  }

  .portfolio__web {
    border-radius: 8px;
    transform: translateX(-18%) scale(0.7);
  }
  
  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 4px;
  }
}
